<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>NTodo</title>
    <script src="content/js/lib/jquery/jquery-2.1.0.min.js"></script>
    <script src="content/js/lib/jquery/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="content/js/lib/jquery/jquery-ui.css" />
    <script src="content/js/lib/angular/angular.min.js"></script>
    <script src="content/js/lib/angular/angular-route.min.js"></script>
    <script src="content/js/lib/underscore/underscore-min.js"></script>
    <script src="content/js/lib/angular_modules/ng-infinite-scroll.js"></script>
    <script src="content/js/utils.js"></script>
    <script src="content/js/filters.js"></script>
    <script src="content/js/models.js"></script>
    <script src="content/js/services.js"></script>
    <script src="content/js/main.js"></script>
    <link rel="stylesheet" href="content/css/main.css" />
</head>
<body>
    <div style="background:black; color:white; height:30px; width:100%; position:fixed; top:0; left: 0;">
        Todo
    </div>
    @RenderBody()
</body>
</html>