<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>NTodo</title>
    <script src="content/js/lib/jquery/jquery-2.1.0.min.js"></script>
    <script src="content/js/lib/jquery/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="content/js/lib/jquery/jquery-ui.css" />
    <script src="content/js/lib/angular/angular.min.js"></script>
    <script src="content/js/lib/angular/angular-route.min.js"></script>
    <script src="content/js/lib/underscore/underscore-min.js"></script>
    <script src="content/js/lib/angular_modules/ng-infinite-scroll.js"></script>
    <script src="content/js/utils.js"></script>
    <script src="content/js/filters.js"></script>
    <script src="content/js/models.js"></script>
    <script src="content/js/services.js"></script>
    <script src="content/js/autoload.js"></script>
</head>
<body ng-app='myApp' ng-controller='DemoController'>
    <div style="background:black; color:white; height:30px; width:100%; position:fixed; top:0; left: 0;">
        スクロールデモ1
    </div>
    <style>
        #box {
            background: #c8e592;
            overflow-y: scroll;
            width: 300px;
            height: 150px;
        }
    </style>

    <div ng-controller='DemoController' style="margin-top:50px;">
        <div id="box">
            <ul auto-load="getAutoLoadConfig()">
                <li ng-repeat="item in listItems">{{item}}</li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        var myApp = angular.module('myApp', ['auto-load']);
        var totalCount = 0;
        myApp.controller("DemoController", ["$scope", "$q", function ($scope, $q) {
            $scope.listItems = [];
            $scope.loadMore = function () {
                var defer = $q.defer();
                try {
                    var getDataCount = function () {
                        if (totalCount >= 68)
                            return 0;
                        if (totalCount >= 67)
                            return 1;
                        if (totalCount >= 64)
                            return 3;
                        if (totalCount >= 59)
                            return 5;
                        if (totalCount >= 50)
                            return 9;
                        else
                            return 10;
                    };

                    var datas = _.map(_.range(getDataCount()), function (i) { return "アイテム" + (totalCount++); });
                    defer.resolve(datas);
                } catch (e) {
                    defer.reject(e);
                }
                return defer.promise;
            };

            $scope.getAutoLoadConfig = function () {
                return {
                    box: "box",
                    items: "listItems",
                    loadMore: "loadMore()"
                }
            };
        }]);
    </script>
</body>
</html>